[Unit]
Description=FPV Flight Board updater
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=pi
WorkingDirectory=/opt/fpv-board
Environment=PYTHONPATH=/opt/fpv-board/waveshare-lib/RaspberryPi_JetsonNano/python/lib
ExecStart=/opt/fpv-board/.venv/bin/python -m fpv_board.main --config /opt/fpv-board/fpv_board/config.json
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
